# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
cran-comments.md
man/
vignettes/*.html
vignettes/*.pdf
vignettes/*.log
*.synctex.gz
vignettes/*.tex
vignettes/*.toc
vignettes/*.db